<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <div class=" p-10 text-white w-full h-screen bg-zinc-900">
     <form action="/login" method="post">
     
         <a class="text-yellow-500 inline-block mb-4" href="/">go to Home</a> 
          <h1 class="text-blue-600 mb-2">Login Your account</h1>
      

        <input class="bg-transparent px-3 py-2 border-2 border-zinc-700 outline-none rounded-md" type="text" placeholder="email" name="email">
        <input class="bg-transparent px-3 py-2 border-2 border-zinc-700 outline-none rounded-md" type="password" placeholder="password" name="password" >
        <input class="bg-blue-600 rounded-md px-3 py-2" value="Login" type="submit">
     </form>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
